{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Rubik+Maze">
    <script>

        function populate_field() {
            var random_review = "{{ review.review }}"
    
            function decode_html(text) {
                var textArea = document.createElement('textarea');
                textArea.innerHTML = text
                return textArea.value
            }
    
            decoded_review = decode_html(random_review)
            document.getElementById("input").value = decoded_review
        }
    
    </script>

</head>
<body>
    <header>
        <a href="{% url 'home' %}"><h1>Movie Review Classifier</h1></a>
        <p class="h2">Sentiment analysis in practice</p>
        <hr>
        <div class="think">
            <img src="{% static 'icon.png' %}" alt="" class="pic">
            <p> 
                Think of a movie you know well. Whether you liked it or not is not important, as long as it's one or the other. Now imagine you're a film critic. Your job is to get paid to explain others whether they should watch this movie or not. Pretty sweet, right? Now write a movie review in the box below.
            </p> 
        </div>
    </header>
    <div class="lazy">
        <p>Feeling lazy? Click the button below to fill in a random review from our database:</p>
    </div>
    <div>
        <button class="lazy_button"onclick="populate_field()" type="button">Yeah, I'm lazy.</button>

    </div>      

    <div>

    </div>


    <form action="/prediction/", method="GET" class="form">    
        <div class="input_field">
            <textarea type="text", name="q" placeholder="Write your review here..." rows="5" cols="90" id="input" required></textarea>
        </div>

        <div>
            <button  class="predict_button" type="submit">PREDICT</button>
        </div>

    </form>
</body>


</html>